<div class="carousel">

    <app-progressbar [array]="questions" class="w-full" [currentIndex]="currentIndex"></app-progressbar>

    <ng-template ngFor let-item [ngForOf]="questions" let-i="index">
        <div class="flex flex-col items-center pt-32 slide"
            [ngClass]="{'active': i === currentIndex, 'previous': i < currentIndex}">

            <!-- <fa-icon [icon]="faVolumeHigh" (click)="item.timesHeard != 2 ? speak(i) : 0" class="text-6xl mb-3" [ngClass]="{'cursor-pointer': item.timesHeard != 2}"></fa-icon> -->

            <!-- <div class="grid grid-flow-col gap-3 ">
                <fa-icon [icon]="faHeart" [ngClass]="{'text-red-600': item.timesHeard == null || item.timesHeard == 1}"></fa-icon>
                <fa-icon [icon]="faHeart" [ngClass]="{'text-red-600': item.timesHeard == null}"></fa-icon>
            </div> -->

            <p class="text-2xl sentence">
                <span *ngFor="let word of item.question.split(' ')" (click)="speak(word)">{{word}}</span>
            </p>

            <div class="options mt-10">
                <div class="mb-4">
                    <!-- <button [ngClass]="{'active': item.answered === 1}" (click)="answer(i, 1)" class="mr-4">Yes</button>
                    <button [ngClass]="{'active': item.answered === 0}" (click)="answer(i, 0)">No</button>
 -->
                    
                    <button (click)="answer(i, item.options[0]); speak(item.options[0])" [ngClass]="{'active': item.answered === item.options[0]}"  class="mr-4">{{item.options[0]}}</button>
                    <button (click)="answer(i, item.options[1]); speak(item.options[1])" [ngClass]="{'active': item.answered === item.options[1]}">{{item.options[1]}}</button>

                </div>
                <button class="w-full" (click)="continue()" *ngIf="item.answered">
                    <span>Continue</span> <fa-icon [icon]="faArrowRight" class="ml-3"></fa-icon>
                </button>
            </div>

        </div>
    </ng-template>

    <div class="flex flex-col items-center pt-32 slide"
        [ngClass]="{'active':  questions.length === currentIndex, 'previous': questions.length < currentIndex}">
        <h1 class="text-3xl">
            You have completed the quiz!
        </h1>
        <br>
        <div class="options">
            <button class="w-full" (click)="finish()">
                <span>Continue to Dictation</span> <fa-icon [icon]="faArrowRight" class="ml-3"></fa-icon>
            </button>
        </div>
    </div>


</div>
<!-- 
<ng-template ngFor let-item [ngForOf]="questions" let-i="index">
    <div>
        <p>
            <span *ngFor="let word of item.question.split(' ')" (click)="speak(word)">{{word}} </span>
        </p>
        
        <button (click)="speak(item.options[0])">{{item.options[0]}}</button>
        <button (click)="speak(item.options[1])">{{item.options[1]}}</button>
    </div>
</ng-template> -->