<div id="exam" class="flex flex-row">
    <app-menubar (switchTab)="currentMenu = $event"></app-menubar>
    
    <div class="h-screen overflow-auto w-full">

        <app-header></app-header>

        <app-quiz *ngIf="currentMenu == 'quiz'"></app-quiz>
        
        <app-grammar *ngIf="currentMenu == 'grammar'"></app-grammar>
        
        <app-speaking *ngIf="currentMenu == 'speaking'"></app-speaking>
        
        <app-dictation *ngIf="currentMenu == 'dictation'"></app-dictation>

    </div>
</div>


<!-- <app-grammar></app-grammar> -->