<div id="exam" class="flex flex-row">
    <app-menubar (switchTab)="currentMenu = $event" [currentMenu]="currentMenu"></app-menubar>
    
    <div class="h-screen overflow-auto w-full">

        <app-header></app-header>

        <app-quiz [hidden]="currentMenu != 'quiz'" (onQuizFinished)="currentMenu = 'grammar'"></app-quiz>
        
        <app-grammar [hidden]="currentMenu != 'grammar'" (onGrammarFinished)="currentMenu = 'dictation'"></app-grammar>
        
        <app-dictation [hidden]="currentMenu != 'dictation'" (onFinished)="currentMenu = 'speaking'"></app-dictation>

        <app-speaking [hidden]="currentMenu != 'speaking'"></app-speaking>
        

    </div>
</div>


<!-- <app-grammar></app-grammar> -->