<!-- <div *ngFor="let number of [0,1,2,3,4]">

    <p>{{speachText}}</p>

    <fa-icon [icon]="faMicrophone" (click)="isUserSpeaking? stopRecording() : startRecording()"></fa-icon>

</div> -->

<div class="carousel">

    <app-progressbar [array]="questions" class="w-full" [currentIndex]="currentIndex"></app-progressbar>

    <ng-template ngFor let-item [ngForOf]="questions" let-i="index">
        <div class="flex flex-col items-center pt-32 slide"
            [ngClass]="{'active': i === currentIndex, 'previous': i < currentIndex}">

            <!-- <fa-icon [icon]="faVolumeHigh" (click)="item.timesHeard != 2 ? speak(i) : 0" class="text-6xl mb-3"
                [ngClass]="{'cursor-pointer': item.timesHeard != 2}"></fa-icon>

            -->

            <div class="flex flex-row">
                <div class="relative" id="video-container">

                    <video width="300px" (click)="toggleVideo()">
                        <source src="../../../assets/speaking-{{i+1}}.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                    <div class="flex flex-row w-full justify-center pt-1">
                        <fa-icon [icon]="faHeart" [ngClass]="{'text-red-600': timesHeard <= 2}" class="mr-2"></fa-icon>
                        <fa-icon [icon]="faHeart" [ngClass]="{'text-red-600': timesHeard <= 1}" class="mr-2"></fa-icon>
                        <fa-icon [icon]="faHeart" [ngClass]="{'text-red-600': timesHeard == 0}"></fa-icon>
                    </div>

                    <fa-icon [icon]="faPlay" class="play-btn absolute top-1/2 -mt-5 left-1/2 -ml-2 text-4xl"></fa-icon>


                </div>

                <div id="transcription" style="height: 225px; width: 300px;"
                    class="flex items-center flex-col justify-center pl-8">

                    <fa-icon [icon]="faMicrophone" (click)="isUserSpeaking? stopRecording() : startRecording()"
                        class="cursor-pointer text-5xl mb-4 bg-sky-600 aspect-square flex justify-center items-center p-4 rounded-full"
                        [ngClass]="isUserSpeaking?'recording':''"></fa-icon>

                    <p *ngIf="!speachText">Click to record</p>

                    <p class="text-center">{{speachText}}</p>


                    <div class="options mt-3">

                        <button class="w-full mt-2" (click)="continue()" *ngIf="speachText">
                            <span>Continue</span> <fa-icon [icon]="faArrowRight" class="ml-3"></fa-icon>
                        </button>
                    </div>

                </div>

            </div>
            <!-- <div class="options mt-10">
                <div class="mb-4">
                    <button [ngClass]="{'active': item.answered === 1}" (click)="answer(i, 1)" class="mr-4">Yes</button>
                    <button [ngClass]="{'active': item.answered === 0}" (click)="answer(i, 0)">No</button>
                </div>
            -->
            <!-- </div>  -->

        </div>
    </ng-template>

    <div class="flex flex-col items-center pt-32 slide"
        [ngClass]="{'active':  questions.length === currentIndex, 'previous': questions.length < currentIndex}">
        <h1 class="text-3xl text-center mb-1">
            Congratulations on completing the Exam!<br><br>
        </h1>
        <p>
            You can expect to receive the results and grades in the near future.
        </p>
        <p class="text-3xl mt-2">
            🎉 🎉 🎉 
        </p>
    </div>


</div>