.options {
    button {
        padding: 10px 50px;
        border: 4px solid #1c395a;
        border-radius: 999px;
        font-weight: bold;

        &.active {
            background-color: #0679fc;
        }
    }
}

.carousel {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 500px
        /* Adjust the height as needed */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    /* Initial slide position */
    transition: transform 0.5s ease-in-out;

    &.previous {
        transform: translateX(-100%);

    }
}

.active {
    transform: translateX(0);
}

//   button {
//     margin-top: 10px;
//   }

#video-container:hover {
    .play-btn {
        display: none;
    }
}

video{
    cursor: pointer;
}

@keyframes pulsate{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(1.2)
    }
}

#transcription .recording{
    color:  rgb(201, 33, 33);
    background-color: white;
    animation: pulsate 1s infinite alternate-reverse;
}